<div *ngIf="checkLogin()" class="head mx-auto">
    <ul class="nav nav-pills justify-content-center mt-3 mb-3">
        <li class="nav-item userbtn me-2">
            <a class="nav-link"  routerLink="/users" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item customerbtn">
            <a class="nav-link" routerLink="customer" routerLinkActive="active">Customer</a>
        </li>
    </ul>
    <ul class="nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item logout">
            <a class="nav-link " routerLinkActive="active" routerLink="" (click)="logOut()" [routerLinkActiveOptions]="{ exact: true }">Log Out</a>
        </li>
    </ul>
</div>
<div class="mt-4">
    <router-outlet></router-outlet>
</div>